﻿@inherits UmbracoViewPage<EnjoyDigitalUniversity.Models.Student>

@using (Html.BeginUmbracoForm("Apply", "Course", FormMethod.Post))
{
  @Html.AntiForgeryToken()

  <div class="form-horizontal">
    <h4>Student</h4>
    <hr/>
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
      @Html.LabelFor(model => model.FirstName, new {@class = "control-label col-md-2"})
      <div class="col-md-10">
        @Html.EditorFor(model => model.FirstName, new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessageFor(model => model.FirstName, "", new {@class = "text-danger"})
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.LastName, new {@class = "control-label col-md-2"})
      <div class="col-md-10">
        @Html.EditorFor(model => model.LastName, new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessageFor(model => model.LastName, "", new {@class = "text-danger"})
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.EmailAddress, new {@class = "control-label col-md-2"})
      <div class="col-md-10">
        @Html.EditorFor(model => model.EmailAddress, new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessageFor(model => model.EmailAddress, "", new {@class = "text-danger"})
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => Model.Address.AddressLine1, new {@class = "control-label col-md-2"})
      <div class="col-md-10">
        @Html.EditorFor(model => Model.Address.AddressLine1, new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessageFor(model => Model.Address.AddressLine1, "", new {@class = "text-danger"})
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => Model.Address.AddressLine2, new {@class = "control-label col-md-2"})
      <div class="col-md-10">
        @Html.EditorFor(model => Model.Address.AddressLine2, new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessageFor(model => Model.Address.AddressLine2, "", new {@class = "text-danger"})
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => Model.Address.AddressLine3, new {@class = "control-label col-md-2"})
      <div class="col-md-10">
        @Html.EditorFor(model => Model.Address.AddressLine3, new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessageFor(model => Model.Address.AddressLine3, "", new {@class = "text-danger"})
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => Model.Address.Town, new {@class = "control-label col-md-2"})
      <div class="col-md-10">
        @Html.EditorFor(model => Model.Address.Town, new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessageFor(model => Model.Address.Town, "", new {@class = "text-danger"})
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => Model.Address.County, new {@class = "control-label col-md-2"})
      <div class="col-md-10">
        @Html.EditorFor(model => Model.Address.County, new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessageFor(model => Model.Address.County, "", new {@class = "text-danger"})
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => Model.Address.Country, new {@class = "control-label col-md-2"})
      <div class="col-md-10">
        @Html.EditorFor(model => Model.Address.Country, new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessageFor(model => Model.Address.Country, "", new {@class = "text-danger"})
      </div>
    </div>    

    <h4>Qualifications</h4>
    <hr/>

    <div id="Qualifications">
      <input id="Qualifications_Index" name="Qualifications.Index" type="hidden" value="1"/>

      <div class="form-group">
        <label class="control-label col-md-2">Type</label>
        <div class="col-md-10">
          <input id="Qualifications_1__Type" name="Qualifications[1].Type" type="text" value="" class="form-control"/>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-2">Subject</label>
        <div class="col-md-10">
          <input id="Qualifications_1__Subject" name="Qualifications[1].Subject" type="text" value="" class="form-control"/>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-2">Grade</label>
        <div class="col-md-10">
          <input id="Qualifications_1__Grade" name="Qualifications[1].Grade" type="text" value="" class="form-control"/>
        </div>
      </div>
    </div>

    <div>
      <br/>
      <a href="#" onclick="AddQualification();">Add Qualification</a>
    </div>   
    
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Apply" class="btn btn-default"/>
      </div>
    </div>
  </div>
}

<script>
  function AddQualification() {
    var tempIndex = Math.random().toString(36).substr(2, 5);
    var template = $('#RowTemplate');
    var insertItem = template.clone(false);
    insertItem.find('input').each(function() {
      this.id = this.id.replace('REPLACE_ID', tempIndex);
      this.name = this.name.replace('REPLACE_ID', tempIndex);
      this.value = this.value.replace('REPLACE_ID', tempIndex);
    });
    insertItem.show();
    $('#Qualifications').append(insertItem.contents());
  };
</script>
    
<div id="RowTemplate" style="display: none">

  <input id="Qualifications_Index" name="Qualifications.Index" type="hidden" value="REPLACE_ID"/>
  <div class="form-group">
    <label class="control-label col-md-2">Type</label>
    <div class="col-md-10">
      <input id="Qualifications_REPLACE_ID__Type" name="Qualifications[REPLACE_ID].Type" type="text" value="" />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2">Subject</label>
    <div class="col-md-10">
      <input id="Qualifications_REPLACE_ID__Subject" name="Qualifications[REPLACE_ID].Subject" type="text" value="" />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2">Grade</label>
    <div class="col-md-10">
      <input id="Qualifications_REPLACE_ID__Grade" name="Qualifications[REPLACE_ID].Grade" type="text" value="" />
    </div>
  </div>     
</div>